In [1]:
%pip install pandas numpy scikit-learn streamlit requests

Requirement already satisfied: pandas in ./venv/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: numpy in ./venv/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: scikit-learn in ./venv/lib/python3.11/site-packages (1.7.2)
Requirement already satisfied: streamlit in ./venv/lib/python3.11/site-packages (1.50.0)
Requirement already satisfied: requests in ./venv/lib/python3.11/site-packages (2.32.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in ./venv/lib/python3.11/site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in ./venv/lib/python3.11/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./venv/lib/python3.11/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<6,>=4.0 in ./venv/lib/python3.11/site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in ./venv/lib/python3.11/site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in ./venv/lib/python3.11/site-packages (from streamlit) (6.2.1)
Requirement already satisfied: click<9,>=7.0 in ./venv/lib/python3.11/site-packages (from streamlit) (8.3.0)
Requirement already satisfied: packaging<26,>=20 in ./venv/lib/python3.11/site-packages (from streamlit) (25.0)
Requirement already satisfied: pillow<12,>=7.1.0 in ./venv/lib/python3.11/site-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in ./venv/lib/python3.11/site-packages (from streamlit) (6.32.1)
Requirement already satisfied: pyarrow>=7.0 in ./venv/lib/python3.11/site-packages (from streamlit) (21.0.0)
Requirement already satisfied: tenacity<10,>=8.1.0 in ./venv/lib/python3.11/site-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in ./venv/lib/python3.11/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in ./venv/lib/python3.11/site-packages (from streamlit) (4.15.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in ./venv/lib/python3.11/site-packages (from streamlit) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in ./venv/lib/python3.11/site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in ./venv/lib/python3.11/site-packages (from streamlit) (6.5.2)
Requirement already satisfied: charset_normalizer<4,>=2 in ./venv/lib/python3.11/site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.11/site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.11/site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.11/site-packages (from requests) (2025.10.5)
Requirement already satisfied: jinja2 in ./venv/lib/python3.11/site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in ./venv/lib/python3.11/site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (4.25.1)
Requirement already satisfied: narwhals>=1.14.2 in ./venv/lib/python3.11/site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2.8.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in ./venv/lib/python3.11/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in ./venv/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in ./venv/lib/python3.11/site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in ./venv/lib/python3.11/site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in ./venv/lib/python3.11/site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in ./venv/lib/python3.11/site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in ./venv/lib/python3.11/site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.27.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from utils import load_movielens
movies, ratings = load_movielens()
movies.head()

2025-10-14 19:17:53.795 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-14 19:17:53.808 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-14 19:17:53.810 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-14 19:17:53.810 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

,movieId,title,genres,clean_title,year,genres_list,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]",862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji,1995.0,"[Adventure, Children, Fantasy]",8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men,1995.0,"[Comedy, Romance]",15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale,1995.0,"[Comedy, Drama, Romance]",31357.0
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II,1995.0,[Comedy],11862.0

In [3]:
movies.sample(5)

,movieId,title,genres,clean_title,year,genres_list,tmdbId
3006,4022,Cast Away (2000),Drama,Cast Away,2000.0,[Drama],8358.0
6731,59037,Speed Racer (2008),Action|Children|Sci-Fi|IMAX,Speed Racer,2008.0,"[Action, Children, Sci-Fi, IMAX]",7459.0
8811,130840,Spring (2015),Horror|Romance|Sci-Fi,Spring,2015.0,"[Horror, Romance, Sci-Fi]",241855.0
8641,119655,Seventh Son (2014),Adventure|Children|Fantasy,Seventh Son,2014.0,"[Adventure, Children, Fantasy]",68737.0
237,275,Mixed Nuts (1994),Comedy,Mixed Nuts,1994.0,[Comedy],24070.0

In [4]:
import pandas as pd
from recommendation_engine import build_content_matrix, recommend_movies


list_columns = ["genres_list"]
for col in list_columns:
    movies[col] = movies[col].apply(lambda x: ", ".join(x) if isinstance(x, list) else x)

tfidf, content_matrix = build_content_matrix(movies)

user_prefs = {"preferred_genres": ["Animation", "Adventure"]}

recs = recommend_movies (
    movies,
    ratings,
    user_preferences=user_prefs,
    top_n=8
)

display_columns = ["clean_title", "year", "genres_list", "score"]
recs[display_columns]

2025-10-14 19:17:58.748 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-14 19:17:58.750 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-14 19:17:58.753 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-14 19:17:58.810 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-14 19:17:58.952 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 19:17:58.952 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`

,clean_title,year,genres_list,score
7039,Up,2009.0,"Adventure, Animation, Children, Drama",0.600000
7119,9,2009.0,"Adventure, Animation, Sci-Fi",0.564554
6194,"Wild, The",2006.0,"Adventure, Animation, Children, Comedy, Fantasy",0.383809
9509,Cars 3,2017.0,"Adventure, Animation, Comedy",0.377895
9381,Your Name.,2016.0,"Animation, Drama, Fantasy, Romance",0.374114
8239,Planes,2013.0,"Adventure, Animation, Comedy",0.370829
8411,Rio 2,2014.0,"Adventure, Animation, Children, Comedy",0.364340
5901,Madagascar,2005.0,"Adventure, Animation, Children, Comedy",0.364340

In [8]:
from recommendation_engine import recommend_movies
recs = recommend_movies(movies, ratings, user_preferences={"preferred_genres":["Animation","Adventure"]}, top_n=8)
recs[["clean_title","year","genres_list","score"]]

2025-10-14 19:18:39.798 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

,clean_title,year,genres_list,score
7039,Up,2009.0,"Adventure, Animation, Children, Drama",0.600000
7119,9,2009.0,"Adventure, Animation, Sci-Fi",0.564554
6194,"Wild, The",2006.0,"Adventure, Animation, Children, Comedy, Fantasy",0.383809
9509,Cars 3,2017.0,"Adventure, Animation, Comedy",0.377895
9381,Your Name.,2016.0,"Animation, Drama, Fantasy, Romance",0.374114
8239,Planes,2013.0,"Adventure, Animation, Comedy",0.370829
8411,Rio 2,2014.0,"Adventure, Animation, Children, Comedy",0.364340
5901,Madagascar,2005.0,"Adventure, Animation, Children, Comedy",0.364340